body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 400px;
    width: 400px;
    background-color: greenyellow;
}

.changer {
    position: absolute;
    
}